@charset "utf-8";
@import "default.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{font-family: "Noto Sans KR"; font-weight: 500;}
main{width: 100vw; height: 100vh; background: url("../img/background.jpg") no-repeat top left; background-size: cover;}
main h2{background: url("../img/menu_title1.svg") no-repeat center center; text-indent: -99999px; padding: 45px;}
div, div p{color: #111;}
main section{background-color: #fff; width: 1360px; height: 670px; margin: 0 auto; border-radius: 40px; filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .2));}
main section .istp{width: 400px; height: auto; margin: 53px 60px 0 75px; float: left;}
main div{font-size: 24px;}
main div p{font-size: 24px;}
.name_birth, .edu_licen{border-bottom: 1px solid #cacaca; width: 1208px; box-sizing: border-box; margin: 0 auto;}
.name_birth{padding-top: 155px;}
.edu_licen{padding-top: 40px;}
.name_birth, .edu_licen{padding-bottom: 40px;}
.name_birth p:nth-of-type(1), .edu_licen p:nth-of-type(1){float: left;}
.name_birth p:nth-of-type(1){margin-right: 151px;}
.edu_licen p:nth-of-type(1){margin-right: 52px;}
.con_tool_award{margin: 40px 0 0 90px; width: 1170px; display: flex; justify-content: space-between;}
.con_tool_award .con p img{width: 46px; height: 46px;}
.con_tool_award .con p:nth-of-type(1){width: 260px; display: flex; align-items: center; justify-content: space-between; margin: 17px 0 17px 0;}
.con_tool_award .con p:nth-of-type(2){width: 310px; display: flex; align-items: center; justify-content: space-between;}
.con_tool_award .tool div{width: 234px; display: flex; justify-content: space-between; margin-top: 22px;}
.con_tool_award .tool div img{width: 60px; height: auto;}
.con_tool_award .award p:nth-of-type(1){margin: 20px 0 5px 0;}
a{display: contents;}
a img{width: 95px; height: auto; margin: 30px auto;}
a:hover img{transform: translateY(-7px);  transition: all .1s;}
a:active img{transform: translateY(-3px);}

/*------------------------------------ 모바일 -----------------------------------------------------*/
@media screen and (max-width: 1024px){
    main h2{padding: 30px;}
    main section{width: 292px; height: 600px;}
    main section .istp{width: 262px; height: auto; margin: 60px 20px 0 20px;}
    main div{font-size: 11px;}
    main div p{font-size: 11px;}
    .name_birth, .edu_licen{width: 251px; box-sizing: border-box; margin: 0 auto;}
    .name_birth{padding-top: 39px;}
    .edu_licen{padding-top: 18px;}
    .name_birth, .edu_licen{padding-bottom: 18px;}
    .name_birth p:nth-of-type(1){margin-right: 35px;}
    .edu_licen p:nth-of-type(1){margin-right: 22px;}
    .con_tool_award{margin: 18px 0 0 21px; width: 233px; flex-direction: column;}

    .con_tool_award .con p img{width: 20px; height: 20px;}
    .con_tool_award .con p:nth-of-type(1){width: 120px; display: flex; align-items: center; justify-content: space-between; margin: 11px 0 9px 0;}
    .con_tool_award .con p:nth-of-type(2){width: 144px; display: flex; align-items: center; justify-content: space-between;}
    .con_tool_award .con, .con_tool_award .tool{margin-bottom: 18px;}
    .con_tool_award .tool div{width: 69px; display: flex; justify-content: space-between; margin-top: 9px;}
    .con_tool_award .tool div img{width: 18px; height: auto;}

    .con_tool_award .award p:nth-of-type(1){margin: 5px 0 3px 0;}

    a img{width: 70px; height: auto; margin: 20px auto;}
    
}